.header {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    @include responsive(s) {
        text-align: left;
        justify-content: space-between;
        align-items: center;
    }
    // @include responsive(l) {
    //     justify-content: flex-start;
    // }
}

%profile-pic {
    background: {
        repeat: no-repeat;
        size: cover;
    }
}

.main-title {
    color: #fefefe;
    padding-bottom: 12px;
    @include responsive(m) {
        font-size: 5vh;
    }
    @include responsive(xl) {
        font-size: 5.2vh;
        padding: {
            left: 5vh;
            bottom: 5px;
        }
    }
}

.container {
    // text-align: center;
    padding: {
        top: 10px;
        bottom: 15px;
    }
}

.main-description {
    color: #fefefe;
    padding: {
        left: 8px;
        right: 8px;
        bottom: 8px;
    }
    font-size: 2.8vh;
    @include responsive(s) {
        font-size: 19px;
    }
    @include responsive(m) {
        font-size: 3.6vh;
    }
    @include responsive(xl) {
        font-size: 3.8vh;
        padding: {
            left: 5vh;
            bottom: 5px;
        }
    }
}

.plumber-container {
    margin: 0 auto;
    width: 95%;
    @include responsive(s) {
        padding-top: 20px;
    }
    @include responsive(m) {
        padding-top: 35px;
    }
    @include responsive(xl) {
        padding-top: 50px;
    }
}

.plumber__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    background-color: #dedede;
    @include responsive(s) {
        height: 300px;
    }
    @include responsive(m) {
        height: auto;
    }
}

.plumber {
    padding: {
        left: 20px;
        top: 12px;
        bottom: 15px;
    }
    text-align: left;
}

.profile-pic-container {
    width: 100%;
    height: 250px;
}

.profile-pic {
    &__1 {
        @extend %profile-pic;
        background: {
            image: url('../media/IMG_3834-min.jpg');
            position: center;
        }
    }
    &__2 {
        @extend %profile-pic;
        background: {
            image: url('../media/IMG_3831-min.jpg');
            position: center;
        }
    }
    &__3 {
        @extend %profile-pic;
        background: {
            image: url('../media/IMG_3836-min.jpg');
            position: center;
        }
    }
    &__4 {
        @extend %profile-pic;
        background: {
            image: url('../media/IMG_3838-min.jpg');
            position: center;
        }
    }
    &__5 {
        @extend %profile-pic;
        background: {
            image: url('../media/1.jpg');
            position: center;
        }
    }
    &__6 {
        @extend %profile-pic;
        background: {
            image: url('../media/2.jpg');
            position: center;
        }
    }
    &__7 {
        @extend %profile-pic;
        background: {
            image: url('../media/3.jpg');
            position: center;
        }
    }
    &__8 {
        @extend %profile-pic;
        background: {
            image: url('../media/4.jpg');
            position: center;
        }
    }
}

.plumber>div {
    padding-bottom: 5px;
}

.plumber__name {
    font: {
        size: 22px;
        weight: bold;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.plumber__attribute {
    font-size: 17px;
    text-align: justify;
    padding-right: 15px;
}

.plumber__attribute-icon {
    padding-right: 18px;
}

.container-bg {
    @extend %profile-pic;
    background: linear-gradient(rgba($color: $black, $alpha: 0.78)), url('../media/plumbing-840835_1920-min.jpg') no-repeat center;
}

.ranking {
    display: flex;
    i {
        font-size: 18px;
        padding-right: 8px;
        align-self: center;
        color: rgba($color: #000, $alpha: 0.25);
    }
}

.tiko {
    width: 200px;
    @include responsive(s) {
        width: 150px;
    }
    @include responsive(m) {
        width: 200px;
    }
    @include responsive(l){
        width: 250px;
    }
}

.tiko-container {
    align-self: center;
}